.footer{
    font-family: $font-primary;
    padding: 103px 0px 60px 0px;
    background-color: #F8E1DB;
    border-radius: 120px 120px 0 0;
    &-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    &-contents{
        max-width: 620px;
        width: 100%;
    }
    &-content{
        margin-bottom: 40px;
    }
    &-heading{
        color: $headingColor;
        font-family: $font;
        font-size: 18px;
        margin-bottom: 21px;
    }
    &-desc{
        color: $textColor;
        line-height: 1.3;
        font-size: 15px;
    }
    &-imageHeading{
        color: $headingColor;
        font-family: $font;
        font-size: 18px;
        margin-bottom: 21px;
    }
    &-image{
        margin-bottom: 60px;
    }
    &-img{
        display: flex;
        gap: 0 10px;
        align-items: center;
    }
    &-copyright{
        text-align: center; 
    }
    &-menu{
        list-style: none;
    }
    &-link{
        margin-bottom: 15px;
    }
    &-item{
        color: $textColor;
        font-size: 15px;
        &:hover{
            color: $primaryColor;
        }
    }
}
.column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width:501px){
    .column{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}
@media screen and (max-width:701px) {
    .footer{
       &-test{
           grid-column: 1/3;
       }
    }
    .column{
        grid-column: 1/3;
    }
}