$font-primary: 'Roboto', sans-serif;
$font:'Archivo', sans-serif;
$headingColor:#3B3735;
$textColor:#8D8D8D;
$primaryColor:#e76f51;
$secondColor:#FF8A6C;
$backgroundColor:#FFD2C6;
$anotherColor:#FFB63B;